@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


@media only screen and (min-width : 320px){
.image img{
     align-items: center;
     justify-content: center;
     text-align: center;
     width: 90vw;
 }
 
 .container {
     margin: 0 auto;
     width: 100vw;
     background-color:#F6F6F6;
 }

 .location{
     background-color: rgb(202, 196, 196); 
     background-color: #EAEAEA;
     width: 100%;
     padding: 2% 0%;
    }

 .btn {
     background-color: #D36BDA;
     color: white;
     padding: 1%;
     border-radius: 20%;
 }

 .num {
     border-radius: 50%;
     text-align: center;
     width: 20px;
     height: 20px;
     padding: 5px;
     margin: 5%;
     border: 1px solid #000;
     background-color: purple;
     color: white;
 }
 .num1 {
  position: relative;
  left: -55px;
 }
 .num2 {
  position: relative;
  left: -60px;
 }
 .num3 {
  position: relative;
  left: -30px;
 }
 .fa-mobile-alt {
  position: relative;
  left: -58px;
 }
 .fa-list-ul { 
  position: relative;
  left: -65px;
}
 .fa-store {
  position: relative;
  left: -40px;
  color: #9356DC;
 }

 .text1 {
  position: relative;
  left: -50px;
 }
 .text2 { 
  position: relative;
  left: -58px;
}
 .text3 {
  position: relative;
  left: -35px;
 }
 
 .working {
   position: relative;
   left: 20px;
 }

 .btns {
     display: inline;
 }

 .restaurant {
   border: 1px solid black;
   padding: 3px;
   border-radius: 25px;
   display: inline;
   width: 85%;
   height: 70px;
   background-color: #F6F6F6;
   position:relative;
   left: 10px;
 }
 .menu {
    border: 1px solid black;
    padding: 3px;
    border-radius: 25px;
    display: inline;
    width: 85%;
    height: 70px;
    background-color: #F6F6F6;
    position:relative;
    left: 10px;
  }
  .enjoy {
    border: 1px solid black;
    padding: 3px;
    border-radius: 25px;
    display: inline;
    width: 85%;
    height: 70px;
    background-color: #F6F6F6;
    position:relative;
    left: 10px;
  }
  .fa-store {
      color: purple;
  }

  .res-list {
    background-color: #F6F6F6;
    position: relative;
    left: 5px;
    padding: 5%;
    width:90vw;
  }
  .cards {
    padding: 3%;
  }

  .card {
    background-color: white;
    width: 270px;
    height: 210px;
    border-radius: 5%;
    padding: 0%;
  }
  a {
    color: black;
    text-decoration: none;
  }

  .h1 .fa-heart {
    position: relative;
    left: 107px;
  }
  .h2 .fa-heart {
    position: relative;
    left: 80px;
  }
  .h3 .fa-heart {
    position: relative;
    left: 175px;
  }
  .h4 .fa-heart {
    position: relative;
    left: 130px;
  }
   .fa-heart:hover {
    background-color: #9356DC;
}

  .banner {
    border: 1px solid black;
    background-color: #99E2D0;
    color: black;
    position: relative;
    top: -110px;
    left: 180px;
    padding: 5px 20px;
  }

  .footer {
   background-color: rgb(77, 77, 77);
   color: white;
   width: 100vw;
   position: relative;
   left: 0px;
   padding: 15%;
  }

  .footer .image img{
      width: 30vw;
      height: 35px;
      -webkit-filter: invert(100%);
      filter: invert(100%);
     /* -ms-transform: scale(0.5,0.5); 
-webkit-transform: scale(0.5,0.5); 
transform: scale(0.5,0.5);*/
  }
  .container2 {
    border: 2px solid black;
    border-radius: 40px 40px 10px 10px;
    background-color:#F6F6F6;
     position: relative;
     top: 90px;
     height: 1100px;
     width: 100vw;
     margin: 0 auto;
  }
  .image2 {
    position: absolute;
    top: 70px;
    z-index: 1;
  }

  pre {
    font-family: 'Roboto', sans-serif;
  }
  .footer2 {
    position: relative;
    top: 90px;
  }

  .title1 {
    position: relative;
    top: 10px;
    left: 15px;
  }
  .entry {
  border-bottom: 3px solid #B0E7D9;
  width: 45px;
  position: relative;
  left: 20px;
  }
  .cards2 {
    display: grid;
    grid-template-rows: repeat(3, 70px);
    grid-gap: 30px;
    
  }
  .card2 {
  border: 1px solid black;
   border-radius: 25px;
   display: inline;
   width: 95%;
   height: 70px;
   background-color: white;
   position: relative;
   margin: 0 auto;
   
}

.btn-container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
 .btn2 {
   width: 40%;
   height: 40px;
   border-radius: 25px;
   margin: 0 auto;
   background-color: #C867DB;
   color: white;
   }
   .add{
     font-size: .80em ;
     position: relative;
     left: 15px;
     top: 13px;
     overflow: hidden;
   }
   .icon {
     width: 30px;
     height: 30px;
    float: right;
    position: relative;
    left: -30px;
    top: 10px;
    display: inline;
    overflow: hidden;
   }
   .card2:hover  .icon{
    float: right;
    position: relative;
    animation-name: slide2;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction:normal;
    transform-origin: center;
    display: inline;
    text-align: center;
  }

  .card2:hover .icon::before{
    content: "...";
  }

  .container .full .cards2 .card2 .add .change{ 
   display: inline;
   width: 10px;
   height: 10px;
  }
  card2:hover  .container .full .cards2 .card2 .add .change{
    display: none;
  }
  @keyframes change {
    0% {
       opacity: 1;  
       }
       33% {
         opacity: 0;
         }
       83.3% {
        content: "...";
        left: -60px;
        opacity: 0;
         }
    100% {
      content: "veg...";
      left: -30px;
      opacity: 1;
   }
  }
   .encha {
     position: relative;
     left: 20px;
     top: 10px;
     padding-bottom: 0px;
   }
   .encha .fa-heart {
    position: relative;
    left: 90px;
  }
  
  
  @keyframes slide2 {
    0% {
       left: -30px;
       opacity: 1;
       }
       33% {
         left: -60px;
         opacity: 1;
         }
       83.3% {
         left: -60px;
         opacity: 1;
         }
    100% {
     left: -30px;
     opacity: 1;
   }
  }

   .container3 {
    border: 2px solid black;
    border-radius: 40px 40px 10px 10px;
    background-color:#F6F6F6;
     position: relative;
     top: 90px;
     height: 1200px;
     width: 100vw;
     margin: 0 auto;
  }
  .container4 {
    border: 2px solid black;
    border-radius: 40px 40px 10px 10px;
    background-color:#F6F6F6;
     position: relative;
     top: 90px;
     height: 1160px;
     width: 100vw;
     margin: 0 auto;
  }
  .goum {
    position: relative;
    top: 30px;
    left: 20px;
    padding-bottom: 20px;
  }
  .goum .fa-heart {
    position: relative;
    left: 150px;
  }
  .footer3 {
    position: relative;
    top: 90px;
  }
  .full {
    position: relative;
    left: 20px;
    top: 30px;
    padding-bottom: 20px;
  }
  .full .fa-heart {
   position: relative;
   left: 130px;
 }
 .resize {
   width: 50px;
   height: 70px;
   position: relative;
   top: 10px;
 }
 .fa-arrow-left{
   position: relative;
   top: 20px;
   left: 10px;
 }
 .title {
  font-family: 'Shrikhand', cursive;
 }
 
   .cards2 .card2 .check-container {
   width: 0px;
   height: 0px;
   background-color: #99E2D0;
   position: relative;
   top: 100px;
   right: 200px;
   display: none;
   float: right;
   box-sizing: border-box;
   border-radius: 0 25px 25px 0;
 }

.card2:hover  .check-container{
  float: right;
  position: relative;
  top: -22px;
  left: -50px;
  width:30vw;
   height: 70px;
  cursor: pointer;
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-direction:normal;
  transform-origin: center;
  background-color: #99E2D0;
  display: inline;
  text-align: center;
}

.cards2 .card2  .fa-check-circle{
  width: 0px;
  height: 0px;
  vertical-align: center;
  position: relative;
  left: 0px;
  top: -50px;
}

.card2:hover  .fa-check-circle{
  display: inline;
  cursor : pointer;
  animation-name: rotate;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-direction: forwards;
  transform-origin:center;
  background-color: #99E2D0;
  color: white;
  
  position: relative;
  left: 0px;
  top: 25px;
}
 @keyframes slide {
   0% {
      left: 29px;
      opacity: 1;
      width: 0px;
      }
      33% {
        left: 29px;
        opacity: 1;
        width: 60px;
        }
      83.3% {
        left: 29px;
        opacity: 1;
        width: 60px;
        }
   100% {
    left: 29px;
    width: 0px;
    opacity: 1;
  }
 }
 
 @keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  1% {
    opacity: 1;
 }
  50% {
    transform: rotate(180deg);
    opacity: 1;
 }
 99% {
  opacity: 1;
}
  100% {
   transform: rotate(360deg);
   opacity: 0;
 }
}

@-webkit-keyframes rotate {
 0% {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
   opacity: 1;
 }
 100% {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
   opacity: 0;
}
}
}